extends layout.pug

block content
		nav(class='nav-extended' style = 'background-color:rgba(255,255,255,0.5);z-index:500;')
			div(class='nav-wrapper')
				a(href='/' class='brand-logo center' style = 'opacity:1') Bucket Hat Images
				img(style = 'width:4em;height:4em;' class = 'left' src = '/images/bhiLogo.png')
				ul(class='right hide-on-med-and-down')
					li
						a(id = 'install')
							i(class = 'material-icons') add_circle_outline
					li
						a A second link
					li
						a A third link
			div(class='nav-content')
				ul(class='tabs tabs-transparent')
					li(class='tab')
						a(href='/galleries') Galleries
					li(class='tab')
						a(href='/prints') Prints
					li(class='tab')
						a(href='/about') About
					li(class='tab')
						a(href='/contact') Contact
		span#images(style = 'display:none;') #{ images }
				

				
			

